body{
    color: rgb(195, 0, 212);
    background-image: linear-gradient( to right, rgb(65, 255, 239), yellow);
}
.heading
{

    width: 80%;
    font-size: 25px;
}
#camera123{

    border: 2px double black;
    width: 350px;
    height: 350px;
}